.container{
    width : 600px;
    margin : 0 auto;
    text-align : center;
}
ul{
    padding-left : 0;
}    
li{
 list-style: none;
 border: 1px solid green;
 padding: 5px;
 width: 50%;
}
.page-title h3{
    font-size : 42px;
}
#rootEn{
 border: 1px solid green;
 padding: 5px;
 margin-bottom: 5px;
}